.navbar {
    background: #e55039;
    width: 100%;
    margin-bottom: 10px;
    z-index: 100;
    top: 0;
}

.navbar-brand{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: black
}

.nav-item{
    font-family: 'Abril Fatface', cursive;
}


h1{
    font-family: 'Lobster', cursive;
    color: bisque
}

p {
    font-family: 'Abril Fatface', cursive;
    color: bisque
}

.Directions {
    text-align: center;
}